/*----
name:Rodney Bradshaw
date: 9/7/2022
------*/

/*---main-------*/
body{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: antiquewhite;
    color:rgb(51, 8, 131);
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    
}
.name {
    text-shadow: 
    5px 5px 0px #00b1f5,
    10px 10px 0px #0070a5,
    15px 15px 0px #0070a5,
    20px 20px 0px #003c60,
    40px 40px 30px #000000;
}

.base {
        font-size: 3em;
        font-variation-settings: "wght" 500, "ital" 1;
        transition: all .5s
}
.mouse:hover {
    text-shadow: none;
    font-variation-settings: "wght" 200, "ital" 1;
}

img {
    width: 250px;
    position: relative;
    
}
#feature {
    margin-left: 20px;

}
#feature_border{
    margin-top: solid blue 1px;
    margin-bottom: 15px;
}
#feature_text {
    padding-left: 20px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 1.5em;
}

h2 {
    font-family: 'Comfortaa', cursive;

}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/*----Projects section------*/

.button_style {
    background-color:aquamarine;
    color: rgb(124, 17, 3);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 0px;
}
.button_style:hover {
    background-color: aqua;
    color:black;
}

section {
    border-top: solid 1px blue;
}
section section {
    border-top: none;
}
.project {
    text-align: center;
}

/*----Work Experience------*/
#work_experience {
    background-color: blanchedalmond; 
    padding-bottom: 10px;
    margin: 0px;
}
.experience {
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0px;
}
/*----Education------*/
#education {
    padding-bottom: 5px;
    background-color: beige; 
    margin: 0px;
}

/*----Footer area------*/
footer {
    
    text-align: center;
    border-top: solid 1px blue;
    background-color: cornsilk;
    margin-top: 10px;
    padding: 10px;
    color: rgb(51, 8, 131);
}
.social {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}